@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

/*---------------------------------------------*/
/* Mobile First */
/*---------------------------------------------*/
header {
  min-width: 320px;
}

body {
  min-width: 320px;
}

nav {
  background: #2C3E50;
  color: white;
  font-weight: 700;
  padding: 20px;
  display: flex;
  flex-direction: row;
  font-size: ;
  justify-content: space-between;
  align-content: center;
  width: 100%
}
 nav .nombre{
  font-size: 15px;
 }

nav .menu{
  font-size: 15px;
 }
.iconmenu {

}

.menualtg {
  display: none;
}

.profile {
  background: #18BC9C;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 100%;
}

/*.barraseparadora img{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/



/*---Aplica un resize a todas las barras separadoras---*/
/*.barraseparadora img{
  width: 60%;
  margin: 20px;
}*/

.profile h2 {
  text-align: center;
  font-weight: 900;
  font-size: 35px;
  padding: 10px;
}

.profile p{
  text-align: center;
  font-weight: 400;
 font-size: 20px;
 margin-bottom: 50px;
}

.profiletipito{
  width: 80%;
  margin: 30px;
  max-width: 300px;
}

/*.barraseparadora img{
  width: 100%;
  text-align: center;
  }*/

.portfolio {
  width: 100%;
  background: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.portfolio .barraseparadora img{
  width: 75%;
}

.portfolio .grilla-imagenes{
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.portfolio h2 {
  color: #2C3E50;
  padding: 10px;
  margin-top: 40px;
  font-size: 35px;

}

.portfolio img {
  width: 90%;
  margin: 10px;
}


.about {
  background: #18BC9C;
  color: white;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

.menu{
  display: flex;
  align-items: center
}

.menu h2{
  font-size: 15px;
  padding-right: 5px
}
.menu img{
display: flex;
align-items: center;
padding-right: 5px;
height: 14px;
width: 18px;
}

.about h2 {
  font-weight: 900;
  font-size: 35px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.about .contenedor-de-columnas{
    display: flex;
    flex-direction: column;
    margin: 20px;
}


.about .contenedor-de-columnas .columna-1 p{
  font-weight: 400;
  font-size: 20px;
  margin: 20px;

  padding: 10px;
  text-align: start;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;*/

}

.about .contenedor-de-columnas .columna-2 p{
  font-weight: 400;
  font-size: 20px;
  margin: 20px 20px 50px 20px ;
  padding: 10px;
  text-align: start;
  /*display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;*/

}


.contact {
  background: white;
  text-align: center;
}

.contact h2{
  color: #2C3E50;
  text-align: center;
  font-weight: 900;
  font-size: 35px;
  padding: 30px;
}

fieldset {
  display: inline-block;
  text-align: left;
  margin: 5px;
  border: none;


}

textarea{
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: auto;
  resize: none;
  margin: auto;
  font-size: 20px;
  border-left: none;
  border-right: none;

}

button{
  position: relative;
  float: left;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background: #18BC9C;
  color: white;
  font-size: 15px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;

}

.informacion {
    background: #2C3E50;
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

.contenedor-informacion {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.informacion .contenedor-informacion p{
  font-size: 15px;
  padding: 2px;
  font-weight: 400;
}

.informacion .contenedor-informacion h4{
  padding: 10px;
  font-weight: 900;
  font-size: 20px;
}

.color-bootstrap{   /* --se aplico con span para mantener el parrafo y un br para la palabra bootstrap debajo-- */
  font-size: 15px;
  color: #18BC9C;
}

.location {
  text-align: center;
  padding: 30px;
}

.aroundtheweb {
  text-align: center;
  padding: 30px;
}

/*.aroundtheweb img {
   width: 85%;
   margin: 30px;
}*/

.ion-ios-plus-outline{
  font-size: 35px;
  padding: 3px;
}

.aboutfreelancer {
  text-align: center;
  padding: 30px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #233140;
  color: white;
  min-width: 320px;
  /*height: 140px;*/
}

.copyright {
  color: white;
  font-size: 10px;
  padding: 20px;
  font-family: 'Montserrat';
}


/*---------------------------------------------*/
/* Desktop */
/*---------------------------------------------*/
@media screen and (min-width: 1024px) {

.menu {
  display: none;
}

.menu img{
display: none;
}

.menualtg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;<
}

.menualt1 {
  display: flex;
  flex-direction: row;
  color: white;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px
}

.menualt1:hover{
  opacity: 0.5;
}

.menualt2 {
  display: flex;
  flex-direction: row;
  color: white;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px
}

.menualt2:hover{
  opacity: 0.5;
}
.menualt3 {
  display: flex;
  flex-direction: row;
  color: white;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px
}

.menualt3:hover{
  opacity: 0.5;
}

nav {
  background: #2C3E50;
  color: white;
  font-weight: 700;
  padding: 20px;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  justify-content: space-around;
  align-content: center;
}

.profile {
  background: #18BC9C;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile img{
  width: 30%;
  margin: 50px;
}

.profile h2 {
  text-align: center;
  font-weight: 700;
  padding: 10px;
}

.profile p{
  text-align: center;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 50px;
  font-size: 20px
}

.portfolio {
  width: 60%;
  background: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.portfolio .grilla-imagenes{
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.portfolio h2 {
  color: #2C3E50;
  padding: 10px;
  margin-top: 40px;
}

.portfolio img {
  width: 30%;
  margin: 10px;
}

.barraseparadora img{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.about {
  background: #18BC9C;
  color: white;
  margin-top: 100px;
  margin-bottom: 100px;
}

.about h2 {
  text-align: center;
  font-weight: 700;
  padding: 30px;
  margin-top: 50px;
}

.about .contenedor-de-columnas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.about .contenedor-de-columnas .columna-1 {
  width: 40%;
  font-weight: 400;
  font-size: 14px;
  padding: 20px;
  margin-bottom: 50px;
}

.about .contenedor-de-columnas .columna-2 {
  width: 40%;
  font-weight: 400;
  font-size: 14px;
  padding: 20px;
  margin-bottom: 50px;
}

.about .contenedor-de-columnas .columna-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about .contenedor-de-columnas .columna-2 {
  display: flex;
  flex-direction: column;
}

.contact {
  background: white;
}

.contact h2{
  color: #2C3E50;
  text-align: center;
  font-weight: 700;
  padding: 30px;
}

fieldset {
  display: inline-block;
  text-align: left;
  margin: 50px;
  border: none;
}

textarea{
  display: block;
  padding: 10px;
  overflow: auto;
  resize: none;
  margin: auto;


}

button{
  position: relative;
  float: left;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  background: #18BC9C;
  color: white;
  font-size: 15px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}

.informacion {
    background: #2C3E50;
    color: white;
  }

.contenedor-informacion {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
}

.informacion .contenedor-informacion p{
  font-size: 12px;
  font-weight: 400;
  padding: 2px;
}

.informacion .contenedor-informacion h4{
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
}

.color-bootstrap{
  font-size: 12px;
  color: #18BC9C;
}

.location {
  width: 40%;
  text-align: center;
  padding: 30px;
}

.aroundtheweb {
  width: 40%;
  text-align: center;
  padding: 30px;
}

.ion-ios-plus-outline{
  font-size: 30px;
  padding: 3px;
}

.aboutfreelancer {
  width: 40%;
  text-align: center;
  padding: 30px;
}



footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #233140;
  color: white;
}

.copyright {
  color: white;
  font-size: 15px;
  padding: 20px;
}
